In [1]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv("staticHeaders.csv", sep='|', skipinitialspace=True)
df = df.drop(columns=["Unnamed: 0",'Unnamed: 4'])
df.columns = df.columns.str.strip()
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].str.strip()
print(df)

    Index        Header Name Header Value
0       1         :authority          NaN
1       2            :method          GET
2       3            :method         POST
3       4              :path            /
4       5              :path  /index.html
..    ...                ...          ...
56     57  transfer-encoding          NaN
57     58         user-agent          NaN
58     59               vary          NaN
59     60                via          NaN
60     61   www-authenticate          NaN

[61 rows x 3 columns]

In [74]:
output_str = ""
for i in range(df.shape[0]):
    row = df.iloc[i]
    key = str(row.iloc[1])
    value = str("" if row.iloc[2] is np.nan else row.iloc[2])
    output_str += "{" + f'"{key}", "{value}"' + "},"
print(output_str)

{":authority", ""},{":method", "GET"},{":method", "POST"},{":path", "/"},{":path", "/index.html"},{":scheme", "http"},{":scheme", "https"},{":status", "200"},{":status", "204"},{":status", "206"},{":status", "304"},{":status", "400"},{":status", "404"},{":status", "500"},{"accept-charset", ""},{"accept-encoding", "gzip, deflate"},{"accept-language", ""},{"accept-ranges", ""},{"accept", ""},{"access-control-allow-origin", ""},{"age", ""},{"allow", ""},{"authorization", ""},{"cache-control", ""},{"content-disposition", ""},{"content-encoding", ""},{"content-language", ""},{"content-length", ""},{"content-location", ""},{"content-range", ""},{"content-type", ""},{"cookie", ""},{"date", ""},{"etag", ""},{"expect", ""},{"expires", ""},{"from", ""},{"host", ""},{"if-match", ""},{"if-modified-since", ""},{"if-none-match", ""},{"if-range", ""},{"if-unmodified-since", ""},{"last-modified", ""},{"link", ""},{"location", ""},{"max-forwards", ""},{"proxy-authenticate", ""},{"proxy-authorization", ""},{"range", ""},{"referer", ""},{"refresh", ""},{"retry-after", ""},{"server", ""},{"set-cookie", ""},{"strict-transport-security", ""},{"transfer-encoding", ""},{"user-agent", ""},{"vary", ""},{"via", ""},{"www-authenticate", ""},

In [125]:
import re

split_line_pat = r"\|\-+"

with open("staticHuffman.txt", 'r') as f:
    datas = []
    value_lens = []
    while ((line := f.readline()) != ""):
        matchs = re.finditer(split_line_pat, line)
        i = 0
        for span in value_lens:
            datas[i].append(line[span[0]:span[1]])
            i+=1
        for match in matchs:
            print(match.span()[0], match.span()[1], match)
            value_lens.append((match.span()[0], match.span()[1]))
            datas.append(list())
df = pd.DataFrame(datas)

0 6 <re.Match object; span=(0, 6), match='|-----'>
6 13 <re.Match object; span=(6, 13), match='|------'>
13 52 <re.Match object; span=(13, 52), match='|--------------------------------------'>
52 62 <re.Match object; span=(52, 62), match='|---------'>
62 68 <re.Match object; span=(62, 68), match='|-----'>

In [127]:
df = df.transpose()

In [130]:
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].str.strip()

In [131]:
df

       0      1                                   2         3     4
0         (  0)                     |11111111|11000      1ff8  [13]
1         (  1)          |11111111|11111111|1011000    7fffd8  [23]
2         (  2)    |11111111|11111111|11111110|0010   fffffe2  [28]
3         (  3)    |11111111|11111111|11111110|0011   fffffe3  [28]
4         (  4)    |11111111|11111111|11111110|0100   fffffe4  [28]
..   ...    ...                                 ...       ...   ...
252       (252)     |11111111|11111111|11111101|110   7ffffee  [27]
253       (253)     |11111111|11111111|11111101|111   7ffffef  [27]
254       (254)     |11111111|11111111|11111110|000   7fffff0  [27]
255       (255)      |11111111|11111111|11111011|10   3ffffee  [26]
256  EOS  (256)  |11111111|11111111|11111111|111111  3fffffff  [30]

[257 rows x 5 columns]